.navbar-brand {
  font-family: Hiragino Kaku Gothic ProN;
}

#header {
  margin-top: 50px;
  background-color: #F5F5F5;
}

#header .page-header h1 {
  font-family: 'Bitter', serif;
}

.lead {
  font-family: HoeflerText-Regular;
  color: #585858;
}

#steps ul{
  list-style-type: none;
}

#steps ul > li {
  margin-left: -25px;
  font-family: Hoefler Text;
  font-size: 1.1em;
}

#steps h5 {
  font-family: Kannada Sangam MN;
  font-weight: bold;
  font-size: 1.2em;
  color: #585858;
}


.col-md-3 {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 10px;
}

.number h1{
  background-color: #F2784B;
  color: #fff;
  border: solid #F2784B 1px;
  width: 65px;
  height: 65px;
  padding-top: 10px;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 25px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Volkhov', serif;
}
